# IDEs
.vscode*
.cursor*

# build
*.so
build/*
dist/*
*.dll
*.pyd
*.pdb

# python
.venv*
__pycache__*
*.egg-info*
.python-version
_version.py

# environment
.env
.DS_Store

# pytest
.pytest_cache*
htmlcov*
.coverage

# calculations
*.csv
*.txt
tmp

# zig
.zig-cache*
zig-out*
