name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write  # Required for uploading release assets

jobs:
  build-and-test:
    runs-on: ubuntu-latest # Or windows-latest, macos-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Zig compiler
      # Use a specific version tag instead of @main for stability
      uses: mlugg/setup-zig@main
      with:
        # Optional: Specify a version, e.g., '0.15.2', 'master', or omit for the latest release
        zig-version: 0.15.2

    - name: Run tests
      run: zig build test

    - name: Build project
      run: zig build --release=fast -Doptimize=ReleaseFast

    - name: zip the app
      run: |
        (cd zig-out && zip -r ../dynamical-systems.zip .)
        test -f dynamical-systems.zip || (echo "Zip file not found!" && exit 1)

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dynamical-systems
        path: dynamical-systems.zip
