name: Build and Test

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write  # Required for uploading release assets

jobs:
  release:
    strategy:
      matrix:
        target:
          - x86_64-windows
          - x86_64-linux
          - aarch64-macos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Zig compiler
      uses: mlugg/setup-zig@main
      with:
        version: 0.15.2

    - name: Run tests
      run: zig build test

    - name: Build project
      run: zig build --release=fast -Doptimize=ReleaseFast -Dtarget=${{ matrix.target }}

    - name: zip the app
      run: |
        (cd zig-out && zip -r ../dynamical-systems-${{ matrix.target }}.zip .)
        test -f dynamical-systems-${{ matrix.target }}.zip || (echo "Zip file not found!" && exit 1)

    - name: Upload release asset
      uses: softprops/action-gh-release@v1
      with:
        files: dynamical-systems-${{ matrix.target }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
