name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write  # Required for uploading release assets

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Zig compiler
      uses: mlugg/setup-zig@main
      with:
        version: 0.15.2

    - name: Run tests
      run: zig build test
